
<% if @map.errors.any? %>
      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<br>
<br>
<br>

  <div class="form-group">
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>

    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :country, "Country" %>
    <%= f.text_field :country %>
    <br>
    <%= f.label :time, "Time" %>
    <%= f.text_field :time %>
    <br>
    <%= f.label :money, "Money" %>
    <%= f.text_field :money %>
    <br>
    <%= f.label :days, "days" %>
    <%= f.text_field :days %>
    <br>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

