<h2>Maps index html</h2>

<%= paginate @maps %>

<ul>
<li>
<% @maps.each do |map| %>

<div class="debug">
  <%= debug (map) %>
</div>

<%= 'Name= ' +map.name %>
<%= 'Country= '+map.country %>
<%= 'Time= '+map.time %>

<%= link_to 'show',map_path(map), :method => :get %>
<%= link_to 'edit', edit_map_path(map), :method => :get %>
<%= link_to 'delete', map_path(map), :data =>{:confirm=>"r u sure?"}, :method => :delete %>

<% end %>
</li>
</ul>

<%= link_to 'New Map', new_map_path, :method => :get %>
