<h2>Maps index html</h2>
<br>
<br>
<p><%= link_to 'New Map', new_map_path, :class => "btn btn-danger" %></p>
<table>
<tr>
  <th>Name</th>
  <th>Country</th>
  <th>Time</th>
  <th>Money</th>
  <th>Days</th>
  <th>Description</th>
  <th>User</th>
  <th>Actions</th>
</tr>

<% @maps.each do |map| %>

  <tr>
    <td><%= link_to map.name, map_path(map) %></td>
    <td><%= map.country %></td>
    <td><%= map.time %></td>
    <td><%= map.money %></td>
    <td><%= map.days %></td>
    <td><%= map.description %></td>
    <td><%= map.user.try(:display_name) %></td>

    <td>
      <%= link_to 'edit', edit_map_path(map) %>
      <%= link_to 'delete', map_path(map), :data =>{:confirm=>"r u sure?"}, :method => :delete %>
    </td>
  </tr>
<% end %>
</table>





<%= paginate @maps %>