<h2>Maps index html</h2>


<table>
<tr>
  <th>Name</th>
  <th>Country</th>
  <th>Time</th>
  <th>Money</th>
  <th>Days</th>
  <th>Description</th>
  <th>Actions</th>
</tr>

<% @maps.each do |map| %>

  <tr>
    <td><%= map.name %></td>
    <td><%= map.country %></td>
    <td><%= map.time %></td>
    <td><%= map.money %></td>
    <td><%= map.days %></td>
    <td><%= map.description %></td>

    <td>
      <%= link_to 'show',map_path(map) %>
      <%= link_to 'edit', edit_map_path(map) %>
      <%= link_to 'delete', map_path(map), :data =>{:confirm=>"r u sure?"}, :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Map', new_map_path %></p>



<%= paginate @maps %>