<div class="container">
<h1>Maps show html  <%=@map.name%></h1>
<br>
<br>
<p>
<% @map.categories.each do |m| %>
Category=  <%= m.name %>
<% end %>
</p>
name=<%= @map.name %>
<br>
country=<%= @map.country %>
<br>
time= <%= @map.time %>
<br>
money=<%= @map.money %>
<br>
days= <%= @map.days %>
<br>
<%#= "description= #{simple_format(@map.description)}" %>
description= <%= @map.description %>
<br><br>
<%= link_to 'Back to Maps index.html.erb', maps_path, :class => "btn btn-primary" %>
</div>
<hr>


<div class="container">
<p><a href="#" id="comment-btn" class="btn btn-primary">Reply</a></p>
<h2>Reply</h2>
<div id="comment-form">

<%= form_for [@map, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, :rows => 5, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>

</div>



<% @map.comments.each do |comment| %>

<% next if comment.new_record? %>

<div class="media" id="comment-<%= comment.id %>">
  <div class="media-left">
    <a href="#">
      <% if comment.user %>
        <%= user_avatar comment.user %>
      <% end %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.author_name %></h4>
    <%= simple_format comment.content %>
    <p class="text-right">
      <%= comment.created_at.to_s(:short) %>

      <% if comment.can_delete_by?(current_user) %>
      <%= link_to "Delete", map_comment_path(@map, comment), :method => :delete, :data => { :confirm => "Are you sure?"} %>
      <% end %>

    </p>
  </div>
</div>


<% end %>
</div>


