<!DOCTYPE html>
<html>
<head>
  <title><%=@page_title || Traveler %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:alert] %></p>
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

    <% if current_user %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
      <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
      <% end %>
<%= yield %>

<br><br><br><br><br>
<div style="color: #aaa" >
<p>-------footer---------</p>
<p>email: admin@aaa.aaa</p>
<p>password: 12345678</p>
<p>email: bbb@bbb.bbb</p>
<p>password: 12345678</p>
</div>
</body>
</html>
